USE [master]
GO
/****** Object:  Database [BiblioGalimov]    Script Date: 07.11.2024 19:53:41 ******/
CREATE DATABASE [BiblioGalimov]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BiblioGalimov', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BiblioGalimov.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BiblioGalimov_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BiblioGalimov_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BiblioGalimov].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BiblioGalimov]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 07.11.2024 19:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 07.11.2024 19:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[ID_Book] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Author] [nvarchar](max) NULL,
	[YearOfIzd] [datetime2](7) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ID_Zhanr] [int] NOT NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[ID_Book] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Readers]    Script Date: 07.11.2024 19:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Readers](
	[Id_Reader] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[FName] [nvarchar](max) NULL,
	[Birthday] [datetime2](7) NOT NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_Readers] PRIMARY KEY CLUSTERED 
(
	[Id_Reader] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentHistory]    Script Date: 07.11.2024 19:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentHistory](
	[ID_History] [int] IDENTITY(1,1) NOT NULL,
	[Date_Start] [datetime2](7) NOT NULL,
	[Date_End] [datetime2](7) NULL,
	[Srok] [int] NOT NULL,
	[ID_Book] [int] NOT NULL,
	[ID_Reader] [int] NOT NULL,
 CONSTRAINT [PK_RentHistory] PRIMARY KEY CLUSTERED 
(
	[ID_History] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zhanrs]    Script Date: 07.11.2024 19:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zhanrs](
	[ID_Zhanr] [int] IDENTITY(1,1) NOT NULL,
	[Name_Zhanr] [nvarchar](max) NULL,
 CONSTRAINT [PK_Zhanrs] PRIMARY KEY CLUSTERED 
(
	[ID_Zhanr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241004090241_first', N'8.0.8')
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([ID_Book], [Name], [Author], [YearOfIzd], [Description], [ID_Zhanr]) VALUES (1, N'string', N'string', CAST(N'2024-10-12T00:00:00.0000000' AS DateTime2), N'string', 1)
INSERT [dbo].[Book] ([ID_Book], [Name], [Author], [YearOfIzd], [Description], [ID_Zhanr]) VALUES (3, N'книга 3', N'я', CAST(N'2024-10-29T00:00:00.0000000' AS DateTime2), N'string', 1)
INSERT [dbo].[Book] ([ID_Book], [Name], [Author], [YearOfIzd], [Description], [ID_Zhanr]) VALUES (1003, N'Книга 4', N'я', CAST(N'2024-10-29T00:00:00.0000000' AS DateTime2), N'string', 1)
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[Readers] ON 

INSERT [dbo].[Readers] ([Id_Reader], [Name], [FName], [Birthday], [Email]) VALUES (4, N'читатель', N'string', CAST(N'2024-10-29T00:00:00.0000000' AS DateTime2), N'string')
SET IDENTITY_INSERT [dbo].[Readers] OFF
GO
SET IDENTITY_INSERT [dbo].[Zhanrs] ON 

INSERT [dbo].[Zhanrs] ([ID_Zhanr], [Name_Zhanr]) VALUES (1, N'Сказка')
INSERT [dbo].[Zhanrs] ([ID_Zhanr], [Name_Zhanr]) VALUES (2, N'Жанр')
INSERT [dbo].[Zhanrs] ([ID_Zhanr], [Name_Zhanr]) VALUES (3, N'Жанр1')
SET IDENTITY_INSERT [dbo].[Zhanrs] OFF
GO
/****** Object:  Index [IX_Book_ID_Zhanr]    Script Date: 07.11.2024 19:53:41 ******/
CREATE NONCLUSTERED INDEX [IX_Book_ID_Zhanr] ON [dbo].[Book]
(
	[ID_Zhanr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RentHistory_ID_Book]    Script Date: 07.11.2024 19:53:41 ******/
CREATE NONCLUSTERED INDEX [IX_RentHistory_ID_Book] ON [dbo].[RentHistory]
(
	[ID_Book] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RentHistory_ID_Reader]    Script Date: 07.11.2024 19:53:41 ******/
CREATE NONCLUSTERED INDEX [IX_RentHistory_ID_Reader] ON [dbo].[RentHistory]
(
	[ID_Reader] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Zhanrs_ID_Zhanr] FOREIGN KEY([ID_Zhanr])
REFERENCES [dbo].[Zhanrs] ([ID_Zhanr])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Zhanrs_ID_Zhanr]
GO
ALTER TABLE [dbo].[RentHistory]  WITH CHECK ADD  CONSTRAINT [FK_RentHistory_Book_ID_Book] FOREIGN KEY([ID_Book])
REFERENCES [dbo].[Book] ([ID_Book])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RentHistory] CHECK CONSTRAINT [FK_RentHistory_Book_ID_Book]
GO
ALTER TABLE [dbo].[RentHistory]  WITH CHECK ADD  CONSTRAINT [FK_RentHistory_Readers_ID_Reader] FOREIGN KEY([ID_Reader])
REFERENCES [dbo].[Readers] ([Id_Reader])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RentHistory] CHECK CONSTRAINT [FK_RentHistory_Readers_ID_Reader]
GO
USE [master]
GO
